@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-primary: #00685f;
  --color-primary-hover: #008378;
  --color-accent: #f97316; /* orange-500 */
  --color-accent-hover: #ea580c;
  
  --color-background-light: #F8FAFC;
  --color-surface-light: #FFFFFF;
  --color-border-light: #E2E8F0;
  --color-text-light: #0F172A;
}

@layer base {
  body {
    @apply bg-[var(--color-background-light)] text-[var(--color-text-light)] antialiased;
  }
}
